.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.content h2,
.content p,
.content h3 {
  margin-bottom: 10px;
}

.math-content {
  margin-top: 20px;
}

.description {
  width: 100%;
}

.equation-large {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

h2, h3 {
  margin-bottom: 10px;
}

.typewriter-text {
  white-space: pre-wrap;
  word-break: break-word;
}
.no-lesson-message {
text-align: center;

}